<h1> Welcome to the Majestic</h1>
<b> Choose Below Actions!!</b>
<br>
<br>
<ol>
<li>  Search with Domain Name</li>
<br>
<form action="/domain_search_get" method="get">
    <input type="submit" value="Search Domain Get">
</form>	
<form action="/domain_search_post" method="get">
    <input type="submit" value="Search Domain Post">
</form>
<li> Search with TLD </li>
<br>
<form action="/TLD_search_get" method="get">
    <input type="submit" value="TLD Search Get">
</form>	
<form action="/TLD_search_post" method="get">
    <input type="submit" value="TLD Search Post">
</form>
</ol>